@model GerenciadorDeClientes.Presentation.Models.AccountLoginViewModel

@{
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

<div class="text-center text-white">

    <h4>Acessar sistema</h4>
    <p>Entre com seu login e senha de acesso.</p>
    <hr />

</div>
<div class= "text-center">

    <strong class="text-white">@TempData["Mensagem"]</strong>

</div>


@using (Html.BeginForm(FormMethod.Post, new { @class = "text-white" }))
{


    <div class="mb-2">
        
        <label>E-mail de acesso:</label>
        @Html.TextBoxFor(model => model.Email, new {@class = "form-control", @placeholder = "Ex: vagner@gmail.com"})
        <span>
            @Html.ValidationMessageFor(model => model.Email)

        </span>
        


    </div>

    <div class="mb-2">
        <label>Senha de acesso:</label>
        @Html.PasswordFor(model => model.Senha, new {@class = "form-control"})

        <span>
            @Html.ValidationMessageFor(model => model.Senha)
        </span>

        

        <div class="text-end">
            <a class="text-white" href="/Account/ForgotPassword">Esqueci minha senha</a>

        </div>
        <hr />

        <div class="mb-2 d-grid">
            <input type="submit" value="Acessar sistema" class="btn btn-light" />

        </div>

        <div class="mb-2 text-center">
            Não possui conta?
            <a class="text-white" href="/Account/Register">Cadastre-se aqui!</a>
        </div>

    </div>
}